# TimeButler URL
BASE_URL="https://app.timebutler.com"


# TimeButler credentials
USER_EMAIL="your@email.example"
USER_PASSWORD="yourpassword"

# Delay between requests in seconds (decimals allowed: 0.1, 0.5, 1)
REQUEST_DELAY=0.3